*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
main{
    height:100vh;
    width: 100%;
    background-color: black;
}
main>nav{
    padding: 30px 25px;
    background-color: white;
    box-shadow: 0px 0px 10px red;
}
ul{
    display: inline-block;
    margin-left:75%;
}
ul li{
    display: inline-block;
    background-color:black;
    
    border-radius: 10px;    
    
}
ul li:hover{
    background-color: white;
    box-shadow: 0px 0px 5px black;
    
}
ul li a:hover{
    color:black ;
}
ul li a{
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;

}
.form-container{
    width: 40%;
    margin-left: 30%;
    border:none;
    margin-top:4%;
    height: 60vh;
    box-shadow: 0px 0px 5px white,0px 0px 10px white,0px 0px 15px white;
    border-radius: 20px;
}
.inp{
    width: 80%;
    margin-left: 10%;
    height: 30px;
    margin-top:35px;
    outline: none;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;

}
#inpBtn{
    width: 20%;
    /* padding: 15px 25px; */
    text-align: center;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,pink,violet);
}